*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator-container{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 30px;
    width: 300px;
    height: 400px;
    background-color: #3d5a80;
    padding: 10px;

}

.display{
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 80px;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
    color: white;
    box-sizing: border-box;
}



.currentDisplay{
    display: flex;
    align-items: end;
    flex-direction: column;
    height: 50px;
    width: 100%;
    background-color: #000000;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.7rem;
    font-weight: 800;
}




.previousDisplay{

    display: flex;
    position: absolute;
    justify-content: flex-start;
    width: 20%;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 800;
    color: gray;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #3d5a80;
}

.big-btn {
    border: 1px solid black;
    width: 140px;
    height: 60px;
}

button{
    border: 1px solid black;
    width: 70px;
    height: 60px;
    border-radius: 10px;
    margin: 1px;
    background-color: #e0fbfc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.operators {
    border-radius: 20px;
    background-color: #ee6c4d;
}
